{% extends 'base.html' %}

{% block title %}eCHALLAN | RTO{% endblock title %}
{% block body1 %}

<main id="main" class="main">
  {% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  <i class="bi bi-exclamation-triangle me-1"></i>
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
 {% endfor %}
{% endif %}

  <div class="pagetitle">
    <h1>List of Police Account</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../">Home</a></li>
        <!-- <li class="breadcrumb-item">RTO Dashboard</li> -->
        <li class="breadcrumb-item active">Police List</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-12">
          <div class="card  overflow-auto">
        <!-- <div class="card">
          <div class="card-body "> -->

            <table class="table table-border datatable">
              <thead>
                <tr>
                  <!-- <th scope="col">POLICE ID</th> -->
                  <th scope="col">USERNAME </th>
                  <th scope="col">NAME </th>
                  <th scope="col">AGE </th>
                  <th scope="col">GENDER </th>
                  <th scope="col">JOINING ON </th>
                  <th scope="col">LAST LOGIN </th>
                  <th scope="col">POSTING </th>
                  <th scope="col">UPDATE </th>
                  <th scope="col">DELETE </th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr>
                      <th scope="row"><a href="#">GJ01AB2341</a></th>
                      <td>Brandon Jacob</td>
                      <td><a href="#" class="text-primary">At praesentium</a></td>
                      <td>$64</td>
                      <td><span class="badge bg-success">Paid</span></td>
                    </tr> -->
                {% for i in p %}
                <tr>
                  <th scope="row"><a href="show_pid/{{ i.police_id}}">{{i.police_username}}</a></th>
                  <!-- <td>{{i.police_username}}</td> -->
                  <!-- <td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a></td> -->
                  <td>{{i.police_firstname}} {{i.police_lastname}}</td>
                  <td>{{i.police_age}}</td>
                  <td>{{i.police_gender}}</td>
                  <td>{{i.police_joing_date}}</td>
                  <td>{{i.police_last_login}}</td>
                  <td>{{i.police_address}}</td>
                  <td><a href="update_pid/{{ i.police_id}}" class="btn btn-info"><i class="bi bi-pen"></i></a></td>
                  <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#basicModal{{i.police_username}}">
                    <i class="bi bi-trash"></i>
                  </button></td>
                  <div class="modal fade" id="basicModal{{i.police_username}}" tabindex="-1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">warning</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Do you want to delete Accpunt  {{i.police_username}} - {{i.police_firstname}} {{i.police_lastname}} ?
                          <br>
                          After deleting the account will not able to recover.
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                          <a href="delete_pid/{{ i.police_id}}" class="btn btn-danger">DELETE</i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <td><a href="delete_pid/{{ i.police_id}}" class="btn btn-danger"><i class="bi bi-trash"></i></a></td> -->

            
                  <!-- <td><span class="badge bg-warning">Review Request</span></td> -->
                </tr>
                {% endfor %}
            
            
              </tbody>
            </table>




          </div>
        </div>

      <!-- </div>
    </div> -->
    </div>
    </div>
  </section>

</main><!-- End #main -->

{% endblock body1 %}



<!-- End Table with hoverable rows -->



